@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*----- COMMON STYLES -----*/

* {
    box-sizing: border-box;
}

.link {
    text-decoration: none;
    color: #4B5D68;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1120px;
    margin: 0 auto;
    padding: 60px 20px;
    box-sizing: content-box;
}

.title {
    font-weight: 700;
    color: #212353;
}

.text {
    font-size: 18px;
    color: #4B5D68;
    white-space: pre-line;
}

.block-relative {
    position: relative;
}

.block-absolute {
    position: absolute;
}

/*----- COMMON STYLES -----*/

/*----- HEADER -----*/

.header {
    margin-bottom: 140px;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__title {
    display: flex;
}

.header__logo {
    margin-right: 120px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 230px;
    font-size: 16px;
}

.header-nav__item:hover {
    transition: all .5s;
    transform: scale(1.5);
}

.header-nav__item_active {
    color: #212353;
    font-weight: 700;
}

/*----- HEADER -----*/

/*----- SECTION PROMO -----*/

.promo {
    margin-bottom: 100px;
}

.promo__container {
    min-height: 530px;
}

.promo__title {
    max-width: 570px;
    font-size: 80px;
    margin-bottom: 50px;
}

.promo__description {
    max-width: 380px;
    line-height: 29px;
    margin-bottom: 50px;
}

.promo__button {
    padding: 15px 37px;
    background: #9C69E2;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 18px;
/*TODO: значения для font-weight указываются без "px", это числа от 100 до 900, можно слова, например, bold, normal */
    font-weight: 700px;
    cursor: pointer;
}

.promo__button:hover {
    background: #fff;
    color: #9C69E2;
    border: 1px solid #9C69E2;;
}

.promo__banner {
    z-index: -1;
    max-width: 885px;
    max-height: 468px;
    bottom: 0;
    right: -105px;
}

.promo__img {
    height: 100%;
    width: 100%;
}

/*----- SECTION PROMO -----*/

/*----- SECTION ABOUT-COMPANY -----*/

.about-company {
    margin-bottom: 150px;
}

.about-company__container {
    min-height: 560px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-company__img {
    width: 45%;
    max-width: 469px;
    max-height: 496px;
}

.about-company__information {
    max-width: 475px;
    margin-left: 65px;
}

.about-company__title {
    font-size: 40px;
    margin-bottom: 40px;
}

.about-company__description {
    line-height: 29px;
}

/*----- SECTION ABOUT-COMPANY -----*/

/*----- SECTION FEATURES -----*/

.features {
    min-height: 1020px;
    margin-bottom: 150px;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features__title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.features__description {
    width: 50%;
/*TODO: не перезаписывайте свойства в одном блоке, margin можно заменить, например, так:
       margin: 0 auto 50px; */
    margin: 0 auto;
    text-align: center;
    line-height: 29px;
    margin-bottom: 50px;
}

.features-item {
    margin-top: 50px;
    flex-basis: 544px;
    min-height: 358px;
    background-position-x: right;
    background-repeat: no-repeat;
}

.features-item_search-data {
    background-image: url('./../assets/images/search-data_bg.png');
}

.features-item_access {
    background-image: url('./../assets/images/access_bg.png');
}

.features-item_print-out {
    background-image: url('./../assets/images/print-out_bg.png');
}

.features-item_security-code {
    background-image: url('./../assets/images/security-code_bg.png');
}

.features-item__logo {
    height: fit-content;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
}

.features-item__content {
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: 50px;
    max-width: 220px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.features-item__title {
    font-size: 24px;
    font-weight: 400;
}

.features-item__description {
    font-size: 16px;
    line-height: 27px;
    min-height: 160px;
}

.features-item__link {
    font-weight: 700;
    color:#212353;
    letter-spacing: 0.005em;
    cursor: pointer;
}

.features-item__link:hover {
    transition: all .5s;
    transform: skewX(-20deg);
}

.features-item__link::after {
    content: url('./../assets/icons/arrow-right.svg');
    vertical-align: middle;
    padding-left: 20px;
    cursor: pointer;
}

/*----- SECTION FEATURES -----*/

/*----- SECTION TESTIMONIALS -----*/

.testimonials {
    margin-bottom: 300px;
}

.testimonials__container {
    min-height: 710px;
    background: #9C69E2;
    border-radius: 50px;
    padding: 110px 80px 50px 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonials__title {
    font-size: 40px;
    line-height: 52px;
    color: #fff;
}

.testimonials__slider {
    min-height: 410px;
}

.slider__slides {
    top: 0;
    left: 0;
    background-color: transparent;
}

.slides {
    display: flex;
    justify-content: flex-start;
}

.slide {
    background: #FFF;
    padding: 60px 30px 50px;
    min-width: 400px;
    min-height: 330px;
    margin-left: 20px;
    border: 1px solid #9C69E2;;
    border-radius: 20px;
    display: flex;
    /*TODO: не обязательно указывать нулевым значениям единицы измерения 0px -> 0 */
    box-shadow: 0px 20px 0px #9563e0;
}

.slide_active {
    margin-left: 0;
    background-color: #fff;
    padding: 60px 70px 50px;
    min-width: 645px;
    box-shadow: 0px 20px 0px 0px #8b56db;
}

.slide__logo {
    margin-right: 30px;
}

.slide__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.005em;
}

.slide__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #9C69E2;
}

.slide__testimonial {
    margin-top: 20px;
    font-size: 18px;
    line-height: 32px;
    color: #4B5D68;
}

.slides > div:not(.slide_active) .slide__testimonial {
    color: #4B5D68;
    background-image: linear-gradient(270deg, #fff 0%, rgb(107 105 105) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    left: 0;
}

.slider-nav__circles {
    display: flex;
    align-items: center;
}

.slider-nav-circles__item {
    margin-right: 10px;
    background: #fff;
    border-radius: 50%;
    height: 5px;
    width: 5px;
}

.slider-nav__circles div:not(.slider-nav-circles__item_active):hover {
    transition: all .5s;
    transform: scale(3);
}

.slider-nav-circles__item_active {
    background: #F063B8;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.slider-nav__arrows {
    display: flex;
    justify-content: space-between;
    min-width: 88px;
}

.slider-nav-arrows__item {
    opacity: 0.5;
}

.slider-nav__arrows img:not(.slider-nav-arrows__item_active):hover {
    opacity: 1;
}

.slider-nav-arrows__item_active {
    opacity: 1;
}

/*----- SECTION TESTIMONIALS -----*/

/*----- FOOTER -----*/

.footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contacts-head {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.contacts-head__logo {
    margin-right: 20px;
}

.contacts-head__title {
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;
}

.contacts-content__address {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #212353;
}

.contacts-content__mail-and-phone {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #212353;
}

.contacts-content__copyright {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #212353;
}

.social-media__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
}

.social-media-icons {
    display: flex;
    justify-content: space-between;
    min-width: 180px;
}


.social-media-icons__item {
    width: 50px;
    height: 50px;
    background: #212353;
    opacity: 0.1;
    border-radius: 50%;
}

/*----- FOOTER -----*/